.dayFeature{
    display: flex;
    flex-direction: column;
    row-gap: 6vh;
    padding: 0 5vw 0 5vw;
}

.dayDate{
    color: white;
}

.movieList{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5vw;
}